
.layout-parent {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0px;
  height: 105vh;
  gap: 5px;
  overflow-x: hidden !important;
}

.body {
  width: 100%;
}
.header {
  box-shadow: 0 0 10px 0 #070F2B;
  width: 100%;
  padding: 9px;
}

.sidebar {
  background-color: var(--secondary);
  border-radius: 1px;
  display: flex;
  justify-content: start;
  padding: 0 5px;
  flex-direction: column;
}
.logo {
  color: white;
  background-color:#FFB000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.role {
  color: #DCF2F1;
  font-size: 15px;
}
.menu{
    margin-top: 150px;
}
.menu-item {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 5px 15px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
  gap: 20px;
}
.active-menu-item {
  border: 2px solid white;
  border-radius: 5px;
}
.menu-item i {
  font-size: 20px;
  margin-right: 10px;
  color: white;
}
.menu-item span {
  color: white;
  font-size: 10px;
}
.content {
  padding: 5px 0px;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 85vh;
}
